<div class="modal top fade" id="app" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="true" role="main"
     aria-labelledby="appTitle" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <main class="modal-content bg-transparent">
            <div class="modal-header border-0 bg-transparent">
                <h5 class="modal-title" id="appTitle">
                    <a href="{{ path('app',{route:'home'}) }}" role="button" class="text-decoration-none" data-bz-auth="{{ csrf_token('navs') }}"
                       title="Accueil" data-bs-placement="bottom">
                        <img src="http://www.azurconnect.fr/images/logo-light.png" alt="" height="40">
                        {#<img src="{{ asset('img/logo-gn-text.svg') }}" alt="graphicNAIVETY logotype" height="30px">#}
                    </a>
                </h5>
                {% include 'app/nav/header-nav.html.twig' %}
            </div>
            {#<div class="row ps-3">
                <div class="col-12 text-start">
                    <button class="btn btn-primary badge " onclick="history.back()"><i class="bi bi-skip-backward-fill small"></i> retour</button>
                </div>
            </div>#}
            <div class="modal-body p-0 h-100" style="overflow-x: hidden"></div>
            <div class="modal-footer border-0 bg-transparent">
                {% include 'app/nav/footer-nav.html.twig' %}
            </div>
        </main>
    </div>
    {% include 'app/offcanvas.html.twig' %}
</div>