<nav class="offcanvas offcanvas-bottom bg-transparent text-dark bg-gradient border-op-50" tabindex="-1" id="menu"
     aria-labelledby="menuLabel" data-bs-backdrop="false">
    <div class="row align-items-center m-0 p-0" style="position: absolute;top:0;left:0;width: 100vw;height: 100vh;z-index: 1">
        <div id="qr-video" class="p-0 position-absolute"></div>
    </div>
    <div class="offcanvas-header">
        <h5 id="menuLabel"><img src="http://www.azurconnect.fr/images/logo-light.png" alt="Azur COnnect" height="30px">
        </h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="position: relative;z-index: 2000"></button>
    </div>
    <div class="offcanvas-body h-100 overflow-hidden">

    </div>
{#    <div class="offcanvas-footer p-3">
        <div class="row g-3">
            <div class="col-lg-2 ms-auto">
                <button class="w-100 btn btn-lg btn-secondary text-white" data-bs-dismiss="offcanvas">Quitter</button>
            </div>
            #}{#<div class="col-lg-2 me-auto">
                <button class="w-100 btn btn-lg bg-black text-white">Valider</button>
            </div>#}{#
        </div>
    </div>#}
</nav>