<nav{# class="btn-group"#} class="w-100">
    {#<a href="//github.com/bZez" target="_blank" type="button" class="btn btn-outline-dark "
       title="Follow me on GitHub"><i class="bi bi-github"></i></a>
    <a href="//stackoverflow.com/users/1139792/bzezzz" target="_blank" type="button" class="btn btn-outline-dark "
       title="Stack Overflow purist !"><i class="bi bi-stack-overflow"></i></a>
    <a href="//linkedin.com/in/sambzez" target="_blank" type="button" class="btn btn-outline-dark "
       title="LinkedIn profile"><i class="bi bi-linkedin"></i>
    </a>
    <a href="//twitter.com/graphicnaivety" target="_blank" type="button" class="btn btn-outline-dark "
       title="@graphicnaivety"><i class="bi bi-twitter"></i>
    </a>#}
    <button class="btn btn-light w-100" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu"
            title="Menu" data-bs-placement="left">
        <i class="bi bi-qr-code-scan"></i> Scanner in QR de boite
    </button>
    {#<a href="{{ path('app',{route:'estimation'}) }}" role="button" class="btn btn-light w-100" title="Ouverture"
       data-bs-placement="bottom" data-bz-auth="{{ csrf_token('navs') }}"><i class="bi bi-qr-code-scan"></i> Scanner in QR de boite</a>#}
</nav>